* {
  margin: 0;
  padding: 0;
}
main {
  width: 428px;
  height: 930px;
  margin: 5px auto;
  background-color: #f1f1f133;
  border-radius: 10px;
  border: 1px solid #959595;
}
.camera-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.camera {
  width: 90px;
  height: 22px;
  background-color: black;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.camera div {
  width: 10px;
  height: 10px;
  background-color: rgb(50, 50, 50);
  border-radius: 50%;
  margin-right: 8px;
}

.first-part {
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin: auto;
  align-items: center;
}
.first-part-left {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
.first-part-left p {
  font-weight: 900;
  font-size: 18px;
}
.first-part-left img {
  width: 16px;
}
.first-part-right {
  display: flex;
  width: 75px;
  justify-content: space-between;
  align-items: center;
}
.first-part-right img:nth-child(1) {
  width: 20px;
}
.first-part-right img:nth-child(2) {
  width: 5px;
}
/*--------------------------------*/
.second-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  margin: 35px auto 0px auto;
}
.second-part-left {
  border-radius: 50%;
}
.second-part-left img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.second-part-right .second-part-data {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.second-part-data div p {
  font-size: 14px;
  text-align: center;
}
.second-part-data div h1 {
  font-size: 20px;
  text-align: center;
}
.second-part-follow {
  text-align: center;
}
.second-part-follow p {
  text-align: center;
  margin: 10px 0px;
  margin-bottom: -20px !important;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  color: red;
}
/*--------------------------------*/
.third-part {
  width: 380px;
  margin: 0px auto 0px auto;
}
.third-part-name p {
  color: black;
  font-size: 20px;
}
.third-part-business p {
  color: #959595;
  margin: 5px 0;
}
.third-part-bio p::after {
  content: "\1F410";
}
.third-part-link {
  margin: 5px 0 10px -2px;
}
.third-part-link a {
  color: #1b1bff;
}
.third-part-link a::before {
  content: "\1F517";
}
.third-part-mutual {
  display: flex;
  align-items: center;
  padding-left: 18px;
}
.third-part-mutual .mutual-box {
  position: relative;
}
.third-part-mutual .mutual-box img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
}
.third-part-mutual .mutual-box img:nth-child(1) {
  position: absolute;
  left: -18px;
}
.third-part-mutual p {
  font-size: 14px;
  margin-left: 5px;
}
.third-part-mutual p span {
  font-weight: 800;
}
/*--------------------------------*/
.fourth-part {
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin: 20px auto;
  align-items: center;
}
.fourth-part div {
  width: 180px;
  height: 27px;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-part div p {
  font-size: 15px;
  font-weight: bold;
}
/*--------------------------------*/
.Fifth-part {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0px auto;
}
.Fifth-part div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: auto;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
}
.Fifth-part div:hover {
  border-bottom: 1px solid black;
}
.Fifth-part div img {
  width: 27px;
  height: auto;
}
.Fifth-part div:nth-child(2) img {
  width: 25px;
}
.Fifth-part div:nth-child(3) img {
  width: 22px;
}
/*--------------------------------*/
.post {
  display: flex;
  justify-content: space-between;
  max-width: 425px;
  margin: 0 auto;
  flex-wrap: wrap !important;
  position: absolute;
  top: 481px;
  right: 811.5px;
}
.post div {
  margin: -2px auto;
  border: 1px solid white;
}
.post div img {
  width: 139px;
}
/*--------------------------------*/
