.container {
  width: 800px;
  height: 800px;
  background-color: #8bd6bf;
  margin: 0 auto;
  position: relative;
}
.circle {
  position: absolute;
  width: 200px;
  height: 400px;
  background-color: #202926;
  border-radius: 1000px 0 0px 1000px;
  top: 200px;
  left: 200px;
}
.circle-2 {
  position: absolute;
  width: 200px;
  height: 400px;
  background-color: #15201c;
  border-radius: 0% 1000px 1000px 0%;
  top: 200px;
  left: 400px;
}
.circle-3 {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #eb4a5c;
  border-radius: 50%;
  top: 500px;
  left: 420px;
}
.form {
  text-align: center;
  position: absolute;
  top: 280px;
  left: 260px;
}
.form h1 {
  color: #b4b6b5;
  margin: 10px;
}

.form form input {
  border: 1px solid #b4b6b5;
  margin: 15px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  color: aliceblue;
  background-color: gray;
}
