/* reset file */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.flex {
  display: flex;
}

/* Project Responsive */

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
/* header style */
/* header top */
/* .header {
} */
.top-header {
  justify-content: space-between;
  margin-top: 15px;
}
.top-header-left {
  justify-content: space-between;
  width: 550px;
}
/* .top-header-title {
} */

.top-header-title a {
  color: #081d43;
  font-size: 18px;
  font-weight: bold;
}
/* .top-header-nav {
} */
.top-header-nav ul {
  display: flex;
  list-style: none;
}
.top-header-nav ul li {
  margin: 0 10px;
  color: #081d43;
  font-size: 15px;
}
.top-header-right {
  background-color: #0050c8;
  width: 120px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 14px;
  color: white;
}
/* .top-header-right a {
} */
/* start main header style*/

.main-header {
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  height: 500px;
}
/*.main-header-left {
}*/
.main-header-title {
  width: 480px;
  height: 88px;
  font-size: 26px;
}
.main-header-title h1 {
  color: #081d43;
}
.main-header-description {
  width: 448px;
  height: 94px;
}
.main-header-description p {
  color: #6c7890;
  line-height: 2;
  margin: 20px 0;
  font-size: 15px;
}

.main-header-button {
  width: 320px;
  justify-content: space-between;
  margin-top: 50px;
}

.main-header-button a {
  color: white;
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.main-header-button a:nth-child(1) {
  background-color: #87bc25;
}
.main-header-button a:nth-child(2) {
  background-color: #2f5bea;
}
/* end header style */
/* work section style*/
.work {
  width: 85%;
  text-align: center;
  margin: 80px auto;
  flex-direction: column;
  justify-content: space-between;
}
.work-title {
  margin: 70px 0;
}
.work-title p {
  color: #6c7890;
  margin: 10px 0;
}
.work-title h1 {
  color: #081d43;
  margin: 10px 0;
}
.work-topic {
  justify-content: space-between;
}
.topic-box {
  width: 250px;
  text-align: center;
  margin-bottom: 50px;
}
.topic-box h2 {
  color: #081d43;
  margin: 15px;
}
.topic-box p {
  color: #6c7890;
  line-height: 1.7;
}
.work-img img {
  width: 490px;
  height: auto;
  object-fit: cover;
}
/* end section work style */
/* start comment section style */
.comment {
  width: 1440px;
  height: 680px;
  background-color: #2f5bea;
  margin: 0 auto;
}
.comment > .container {
  width: 1440px;
  height: 680px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.comment-title {
  width: 380px;
  text-align: center;
}
.comment-title h2 {
  color: white;
}
.comment-title p {
  color: white;
  line-height: 1.5;
  margin: 15px;
  font-size: 15px;
}
.comment-cont {
  width: 70%;
  justify-content: space-between;
}
.comement-box {
  width: 250px;
  height: 220px;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}
.comement-box .comement-box-caption {
  color: #7e8085;
}
.comement-box .comement-box-name {
  align-items: center;
  justify-content: space-around;
}
/* end section comment style */
/* start gallery section style */
.gallery {
  flex-direction: column;
  align-items: center;
}
.gallery-title {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin: 50px 0;
}
.gallery-title p {
  font-size: 25px;
  color: #6c7890;
}
.gallery-title h1 {
  font-size: 45px;
  color: #081d43;
  font-weight: 300;
}
.gallery-photo-box {
  width: 1150px;
  flex-wrap: wrap;
  gap: 50px;
}

.gallery-photo-box .gallery-item {
  width: 350px;
  height: 250px;
}
.gallery-photo-box .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
